@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src:  url('../fonts/Montserrat-Light.woff2'),
  url('../fonts/Montserrat-Light.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src:  url('../fonts/Montserrat-Regular.woff2'),
        url('../fonts/Montserrat-Regular.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src:  url('../fonts/Montserrat-Medium.woff2'),
  url('../fonts/Montserrat-Medium.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src:  url('../fonts/Montserrat-Bold.woff2'),
  url('../fonts/Montserrat-Bold.woff');
}